body {
    background: url('../assets/Background-1.png') no-repeat center center fixed;
    background-size: cover;
    color: white; 
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    padding-top: 30px;
    margin-left: 70px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: black; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black; 
}
